<ul class='nav navbar-nav navbar-right'>
	<li ng-if='!playerMenuCtrl.player && playerMenuCtrl.auth_method == "github"'>
		<a ng-click='playerMenuCtrl.login()' href='#'>
			<span class='octicon octicon-mark-github' /> Login with GitHub
		</a>
	</li>
	<li ng-if='!playerMenuCtrl.player && playerMenuCtrl.auth_method == "shib"'>
		<a ng-click='playerMenuCtrl.login()' href='#'>
			<span class='glyphicon glyphicon-user' /> Login with UQÀM
		</a>
	</li>
	<li class='dropdown' ng-if='playerMenuCtrl.player'>
		<a class='btn btn-link dropdown-toggle' type='button' data-toggle='dropdown'>
			{{playerMenuCtrl.player.name}}
			<img class='avatar avatar-icon' ng-src='{{playerMenuCtrl.player.avatar_url}}' />
		</a>
		<ul class='dropdown-menu dropdown-menu-right'>
			<li>
				<a ui-sref="player({login: playerMenuCtrl.player._id})">
					<span class='glyphicon glyphicon-user' /> Profile
				</a>
			</li>
			<li role='separator' class='divider'></li>
			<li>
				<a ng-click='playerMenuCtrl.logout()' href='#'>
					<span class='glyphicon glyphicon-log-out' /> Logout
				</a>
			</li>
		</ul>
	</li>
</ul>
