<div>

	<!-- Mission is locked -->
	<div class='container' ng-if='missionCtrl.missionStatus.is_locked'>
		<mission-locked />
	</div>

	<!-- Mission not locked -->
	<div ng-if='!missionCtrl.missionStatus.is_locked'>

		<!-- Mission header -->
		<div class='col-xs-12'>

			<!-- Mission stars -->
			<h1 class='pull-right mission-stars'>
				<small><span class='glyphicon'
					ng-repeat='star in missionCtrl.missionStatus.mission.stars.__items'
					ng-class='{
						"glyphicon-star text-success": missionCtrl.statusByStar(star._id),
						"glyphicon-star-empty": !missionCtrl.statusByStar(star._id)
					}'
					title='{{star.title}} ({{star.reward}} pts)' /></small>
			</h1>

			<!-- Mission reward -->
			<h1 class='pull-right'>
				<small>{{missionCtrl.missionStatus.mission.reward}} pts</small>
			</h1>

			<h1>
				<mission-status mission-status='missionCtrl.missionStatus' />
				{{missionCtrl.missionStatus.mission.title}}
			</h1>
		</div>

		<!-- Mission body -->
		<div class='col-xs-12'>
			<div class='panel panel-default'>
				<div class='panel-body'>
					<div ng-bind-html='missionCtrl.missionStatus.mission.desc' />
				</div>
			</div>
		</div>
		<mission-submit mission='missionCtrl.missionStatus.mission' />
	</div>
</div>
