<div>
	<div class='panel panel-danger' ng-if='missionCtrl.missionStatus.status == "locked"'>
		<div class='panel-body'>
			<p class='lead text-danger'>Mission locked</p>
		</div>
	</div>
	<div>
		<h3>{{missionCtrl.missionStatus.mission.title}}</h3>

		<table class='table'>
			<tr>
				<th>Status</th>
				<th>
					<span ng-if='missionCtrl.missionStatus.is_locked' class='glyphicon glyphicon-lock text-muted' />
					<span ng-if='missionCtrl.missionStatus.is_open' class='glyphicon glyphicon-remove text-warning' />
					<span ng-if='missionCtrl.missionStatus.is_success' class='glyphicon glyphicon-ok text-success' />
					{{missionCtrl.missionStatus.status}}
				</th>
				<th>+ {{missionCtrl.missionStatus.mission.reward}} pts</th>
			</tr>
			<tr ng-repeat='star in missionCtrl.missionStatus.mission.stars.__items'>
				<th ng-init='i = $index + 1' width='15%'>
					<span class='glyphicon text-warning'
						ng-repeat='self in [1, 2, 3]'
						ng-class='{"glyphicon-star-empty": self > i, "glyphicon-star": self <= i}' />
				</th>
				<td width='15%'>+{{star.reward}}pts</td>
				<td>{{star.title}}</td>
			</tr>
		</table>
		<div ng-bind-html="missionCtrl.missionStatus.mission.desc"></div>
		<mission-submit mission-id='missionCtrl.missionId' />
	</div>
</div>
