<div>
	<h3>Notifications</h3>
	<p ng-if='notifications.length == 0'>
		<em class='text-muted'>No notification yet...</em>
	</p>
	<table class='table'>
		<tr ng-repeat='notification in notifications'>
			<th width='3%'>
				<span class='glyphicon glyphicon-envelope text-muted' />
			</th>
			<th><a href='/player/notifications/{{notification._id}}'>New message</a></th>
			<td class='text-muted'>
				received {{notification.timestamp * 1000 | date: 'dd, MMM, yyyy HH:MM:ss a'}}
			</td>
		</tr>
	</table>
</div>
