<div class='panel panel-default' ng-init='playersCtrl.loadPlayers()'>
	<div class='panel-heading'>
		<h3 class='panel-title'>
			<span class='glyphicon glyphicon-stats'></span>&nbsp;&nbsp;Hall of fame
		</h3>
	</div>
	<div class='panel-body' ng-if='players.empty'>
		<em>No players yet...</em>
	</div>
	<div class='panel-body' ng-if='!players.empty'>
		<div class='container-fluid container-sm-height text-center'>
			<div id='podium' class='row row-sm-height'>
				<div class='col-xs-2 col-xs-height col-bottom'
					style='text-align: center' ng-repeat='order in [3, 1, 0, 2, 4]'>
					<div ng-if='stats = players[order]'>
						<p>
							<a href='/players/{{stats.player._id}}'>
								<img class='img-circle' style='width: 80px'
									src='{{stats.player.avatar_url}}' alt='{{stats.player._id}}' />
							</a>
						</p>
						<p><player-link player='stats.player' noavatar='true' /></p>
						<p>{{stats.score}}</p>
						<div class='progress-bar-warning progress-bar-striped'
							style='height: {{stats.score * 300 / players[0].score}}px'></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
