<div>
	<div>
		<img class='avatar' ng-src='{{sidebarCtrl.stats.player.avatar_url}}' width='100%' />
	</div>
	<h3><player-link player='sidebarCtrl.stats.player' noavatar='true' /></h3>

	<p class='lead'>{{sidebarCtrl.stats.score}} points</p>

	<ul class='list-unstyled'>
		<li>
			<span class='glyphicon glyphicon-user' title='friends' />
			<b>{{sidebarCtrl.stats.player.friends.__items.length}}</b>
		</li>
		<li>
			<span class='glyphicon glyphicon-flag' title='missions accomplished' />
			<b>{{sidebarCtrl.stats.missions_success}} / {{sidebarCtrl.stats.missions_count}}</b>
		</li>
		<li>
			<span class='glyphicon glyphicon-star' title='stars unlocked' />
			<b>{{sidebarCtrl.stats.stars_unlocked}} / {{sidebarCtrl.stats.stars_count}}</b>
		</li>
	</ul>

	<hr>
	<ul class='list-unstyled' ng-if='sidebarCtrl.session && sidebarCtrl.session._id != sidebarCtrl.stats.player._id && !sidebarCtrl.hasFriend()'>
		<li>
			<friend-btn session='sidebarCtrl.session' player-id='sidebarCtrl.stats.player._id' />
		</li>
	</ul>
	<div ng-if='sidebarCtrl.stats.player.friends.__items.length > 0'>
		<friends-list session='sidebarCtrl.session' player-id='sidebarCtrl.stats.player._id'>
	</div>
</div>
