<div>
	<h3>{{trackStatus.track.title}}</h3>

	<table class='table'>
		<tr>
			<td width='60%'>
				<div class='progress'>
					<div class='progress-bar progress-bar-info progress-bar-striped'
						style='width: {{trackStatus.missions_success / trackStatus.missions_count * 100 | number: 0}}%'>
						<span>{{trackStatus.missions_success}} / {{trackStatus.missions_count}}</span>
					</div>
				</div>
			</td>
			<td>
				{{trackStatus.missions_success}} / {{trackStatus.missions_count}} mission accomplished
			</td>
		</tr>
		<tr>
			<td width='60%'>
				<div class='progress'>
					<div class='progress-bar progress-bar-warning progress-bar-striped'
						style='width: {{trackStatus.stars_unlocked / trackStatus.stars_count * 100 | number: 0}}%'>
						<span>{{trackStatus.stars_unlocked}} / {{trackStatus.stars_count}}</span>
					</div>
				</div>
			</td>
			<td>
				{{trackStatus.stars_unlocked}} / {{trackStatus.stars_count}} stars unlocked
			</td>
		</tr>
	</table>

	<div>{{trackStatus.track.desc}}</div>
	<hr>

	<h4>Missions</h4>
	<track-tree missions-status='trackStatus.missions.__items' />
	<br><br>

	<table class='table'>
		<tr ng-repeat='ms in trackStatus.missions.__items'>
			<th width='3%'>
				<span ng-if='ms.is_locked' class='glyphicon glyphicon-lock text-muted' />
				<span ng-if='ms.is_open' class='glyphicon glyphicon-remove text-warning' />
				<span ng-if='ms.is_success' class='glyphicon glyphicon-ok text-success' />
			</th>
			<th width='30%'>
				<a href='{{playerUrl}}/missions/{{ms.mission._id}}'>
					{{ms.mission.title}}
				</a>
			</th>
			<td>
				<span class='glyphicon'
					title='{{self.title}}'
					ng-repeat='self in ms.mission.stars.__items'
					ng-class='hasStar(self, ms.stars) ? "glyphicon-star text-success" :"glyphicon-star-empty text-muted"' />
			</td>
			<td>+ {{ms.mission.reward}} pts</td>
		</tr>
	</table>
</div>
