/* Custom Text colors */
.text-success { color: #5cb85c; }
.text-info { color: #0955A0; }

/* Body */

body {
	margin-top: 70px;
	margin-bottom: 70px;
}

/* Nav bar */

.navbar-primary {
	background-color: #0955A0;
	border-color: #0955A0;
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.4);
}

.navbar-primary .navbar-brand, .navbar-primary .navbar-nav>li>a, .navbar-primary .breadcrumb a {
	color: white;
}


.navbar .breadcrumb {
	padding: 15px 0;
	margin: 0 0 0 -5px;
	background: transparent;
}

.navbar .breadcrumb>li:before {
    padding: 0 15px;
    color: #337ab7;
    content: "/\00a0";
}

.progress { margin-bottom: 0 }

/* Btn */

.btn-link.btn-muted { color: #777 }
.btn-link.btn-primary { color: #337ab7 }
.btn-link.btn-success { color: #3c763d }
.btn-link.btn-info { color: #31708f }
.btn-link.btn-warning { color: #8a6d3b }
.btn-link.btn-danger { color: #a94442 }

.panel-mission-control h4 { margin: 0 0 5px 0}
.panel-mission-control .glyphicon {
	margin-right: 5px;
}

.panel-mission-control .btn {
	width: 100px;
}

/*
 * Stars
 */

.mission-star {
	color: #777;
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.mission-star:before { content: "\e007"; }
.mission-star.active { color: #fbca04; }
.mission-star.active:before { content: "\e006"; }

.mission-stars .mission-star { margin-left: 10px; }
.mission-stars .mission-star:first-child { margin-left: 0; }

/*
 * Users
 */

.avatar {
	border-radius: 2px;
}

.avatar-icon {
	width: 20px;
	height: 20px;
	vertical-align: bottom;
}

.navbar li .avatar-icon {
	margin-left: 12px;
}

/*
 * Notifications
 */

.notifications {
	min-width: 500px;
	background-color: #e7e7e7;
	padding: 10px;
}

.notifications .clear-all {
    margin-right: 6px;
}

.notifications .card {
	margin: 2px;
}

.notifications-icon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    font-size: 120%;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.notifications-icon:before {
	content: "\e123";
}

.notifications-icon.active {
	color: #ff9d32;
	animation: notify-animation .2s ease-in-out infinite alternate;
}

@keyframes notify-animation {
  from {
    transform: rotate(-10deg);
  }
  to {
    transform: rotate(10deg);
  }
}

/*
 * Achievements
 */

.achievement-icon {
	font-size: 300%;
	margin: 10px;
}

.achievement-badge {
	position: absolute;
	margin: -20px 0 0 20px;
}

.badge.badge-success { background-color: #5cb85c }

/*
 * Trees
 */

.track-tree {
	width: 100%;
	height: 100%;
}

.track-tree text {
	font-weight: 300;
	font-size: 14px;
}

.track-tree .node g div {
	width: 40px;
	height: 40px;
	color: #fff;
	cursor: pointer;
}

.track-tree .node rect,
.track-tree .edgePath path {
	stroke-width: 2px;
	stroke: #bbb;
	fill: #666;
}

.track-tree .node.success rect,
.track-tree .edgePath.success path {
	fill: #5cb85c;
	stroke: #5cb85c;
}

.track-tree .node.open rect,
.track-tree .edgePath.open path {
	fill: #0955A0;
	stroke: #0955A0;
}

.track-tree .node.locked rect,
.track-tree .edgePath.locked path {
	fill: #aaa;
	stroke: #aaa;
}

.track-tree .number {
	line-height: 40px;
	font-size: 20px;
}

.track-tree .glyphicon {
	position: inherit;
	font-size: 2em;
	line-height: 40px;
	padding-left: 0.1em;
	color: rgba(30, 30, 30, 0.5)
}

.mission-tip {
	font-size: 16px;
}

.mission-tip h3 {
	margin: 5px;
}

.mission-tip.open h3 { color: #c83127; }
.mission-tip.open .tip-status { color: #c83127; }
.mission-tip.success h3 { color: #3c763d; }
.mission-tip.success .tip-status { color: #3c763d; }
.mission-tip.locked h3 { color: #777; }
.mission-tip.locked .tip-status { color: #777; }
.mission-tip .tip-reward { color: green; }

/*
 * Podium
 */

/* columns of same height styles */
.container-xs-height {
    display:table;
    padding-left:0px;
    padding-right:0px;
	width: 100%;
}
.row-xs-height {
    display:table-row;
}
.col-xs-height {
    display:table-cell;
    float:none;
}
@media (min-width: 768px) {
    .container-sm-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
		width: 100%;
    }
    .row-sm-height {
        display:table-row;
    }
    .col-sm-height {
        display:table-cell;
        float:none;
    }
}
@media (min-width: 992px) {
    .container-md-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
		width: 100%;
    }
    .row-md-height {
        display:table-row;
    }
    .col-md-height {
        display:table-cell;
        float:none;
    }
}
@media (min-width: 1200px) {
    .container-lg-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
		width: 100%;
    }
    .row-lg-height {
        display:table-row;
    }
    .col-lg-height {
        display:table-cell;
        float:none;
    }
}

/* vertical alignment styles */
.col-top {
    vertical-align:top;
}
.col-middle {
    vertical-align:middle;
}
.col-bottom {
    vertical-align:bottom;
}

/* diff2Html */

.d2h-file-header {
	display: none;
}

/* blinking effect (yes, we are back in 1994) */

.blink {
  animation: blink-animation 1.5s linear infinite alternate;
}
@keyframes blink-animation {
  to {
    opacity: 0;
  }
}
