/* Body */

body {
	margin-top: 70px;
	margin-bottom: 70px;
}

/*
 * Users
 */

.avatar {
	border-radius: 2px;
}

.avatar-icon {
	width: 18px;
	height: 18px;
}

.glyphicon-github:before {
    display: inline-block;
	width: 14px;
	height: 14px;
    background-image: url('/images/gitHub-mark-32-light.png');
    background-size: 14px 14px;
	content: "";
}

/*
 * Trees
 */

.track-tree {
	width: 100%;
	height: 100%;
}

.track-tree text {
	font-weight: 300;
	font-size: 14px;
}

.track-tree .node g div {
	width: 40px;
	height: 40px;
	color: #fff;
	cursor: pointer;
}

.track-tree .node rect {
	stroke-width: 2px;
	stroke: #bbb;
	fill: #666;
}

.track-tree .node.closed rect {
	stroke: rgba(0, 255, 0, 0.80);
	fill: rgba(0, 255, 0, 0.50);
}

.track-tree .node.open rect {
	stroke: rgba(255, 0, 0, 0.80);
	fill: rgba(255, 0, 0, 0.50);
}

.track-tree .node.locked rect {
	stroke: rgba(150, 150, 150, 0.80);
	fill: rgba(150, 150, 150, 0.50);
}

.track-tree .edgePath path {
	stroke-width: 2px;
	stroke: #bbb;
	fill: rgba(0, 0, 0, 0.80);
}

.track-tree .edgePath.closed path {
	stroke: rgba(0, 255, 0, 0.80);
	fill: rgba(0, 255, 0, 0.80);
}

.track-tree .edgePath.open path {
	stroke: rgba(255, 0, 0, 0.80);
	fill: rgba(255, 0, 0, 0.80);
}

.track-tree .edgePath.locked path {
	stroke: rgba(150, 150, 150, 0.80);
	fill: rgba(150, 150, 150, 0.80);
}

.track-tree .number {
	line-height: 40px;
	font-size: 12px;
}

.track-tree .glyphicon {
	position: inherit;
	font-size: 2em;
	line-height: 40px;
	padding-left: 0.1em;
	color: rgba(30, 30, 30, 0.5)
}
