/* Body */

body {
	margin-top: 70px;
	margin-bottom: 70px;
}

.progress { margin-bottom: 0 }

.dropdown-menu { min-width: 250px }
.dropdown-menu>li>a { padding: 10px 20px }

.btn-link.btn-muted { color: #777 }
.btn-link.btn-primary { color: #337ab7 }
.btn-link.btn-success { color: #3c763d }
.btn-link.btn-info { color: #31708f }
.btn-link.btn-warning { color: #8a6d3b }
.btn-link.btn-danger { color: #a94442 }

/*
 * Users
 */

.avatar {
	border-radius: 2px;
}

.avatar-icon {
	width: 18px;
	height: 18px;
}

.glyphicon-github:before {
    display: inline-block;
	width: 14px;
	height: 14px;
    background-image: url('/images/gitHub-mark-32-light.png');
    background-size: 14px 14px;
	content: "";
}

/*
 * Notifications
 */

.notifications {
	min-width: 350px;
	background-color: #e7e7e7;
	padding: 10px;
}

.notifications .clear-all {
    margin-right: 6px;
}

.notification.media:first-child {
	margin-top: 5px;
}

.notification {
	background-color: #fff;
	padding: 5px 5px 10px 15px;
	margin-top: 5px;
    -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,.2),inset 0 -1px 0 rgba(0,0,0,.3);
    box-shadow: inset 1px 1px 0 rgba(0,0,0,.2),inset 0 -1px 0 rgba(0,0,0,.3);
}

.notification h5 {
	font-weight: bold;
	margin-bottom: 3px;
}

/*
 * Achievements
 */

.achievement {
	padding: 15px 5px 5px 5px;
	-webkit-box-shadow: 0px 1px 4px -1px rgba(0,0,0,0.64);
	-moz-box-shadow: 0px 1px 4px -1px rgba(0,0,0,0.64);
	box-shadow: 0px 1px 4px -1px rgba(0,0,0,0.64);
}

.achievement .media-left .glyphicon {
	font-size: 300%;
	margin: 10px;
}

.achievement .media-left .badge {
	position: absolute;
	margin: -20px 0 0 20px;
}

.badge.badge-success { background-color: #5cb85c }

/*
 * Trees
 */

.track-tree {
	width: 100%;
	height: 300px;
}

.track-tree text {
	font-weight: 300;
	font-size: 14px;
}

.track-tree .node g div {
	width: 40px;
	height: 40px;
	color: #fff;
	cursor: pointer;
}

.track-tree .node rect,
.track-tree .edgePath path {
	stroke-width: 2px;
	stroke: #bbb;
	fill: #666;
}

.track-tree .node.success rect,
.track-tree .edgePath.success path {
	fill: rgba(60, 200, 0, 1);
	stroke: rgba(30, 150, 0, 1);
}

.track-tree .node.open rect,
.track-tree .edgePath.open path {
	fill: rgba(255, 200, 0, 1);
	stroke: rgba(175, 130, 0, 1);
}

.track-tree .node.locked rect,
.track-tree .edgePath.locked path {
	fill: rgba(150, 150, 150, 1);
	stroke: rgba(100, 100, 100, 1);
}

.track-tree .number {
	line-height: 40px;
	font-size: 20px;
}

.track-tree .glyphicon {
	position: inherit;
	font-size: 2em;
	line-height: 40px;
	padding-left: 0.1em;
	color: rgba(30, 30, 30, 0.5)
}

.mission-tip {
	font-size: 16px;
}

.mission-tip h3 {
	margin: 5px;
}

.mission-tip.open h3 { color: #c83127; }
.mission-tip.open .tip-status { color: #c83127; }
.mission-tip.success h3 { color: #3c763d; }
.mission-tip.success .tip-status { color: #3c763d; }
.mission-tip.locked h3 { color: #777; }
.mission-tip.locked .tip-status { color: #777; }
.mission-tip .tip-reward { color: green; }

.mission-icon {
	width: 100%;
}

/*
 * Podium
 */

/* columns of same height styles */
.container-xs-height {
    display:table;
    padding-left:0px;
    padding-right:0px;
	width: 100%;
}
.row-xs-height {
    display:table-row;
}
.col-xs-height {
    display:table-cell;
    float:none;
}
@media (min-width: 768px) {
    .container-sm-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
		width: 100%;
    }
    .row-sm-height {
        display:table-row;
    }
    .col-sm-height {
        display:table-cell;
        float:none;
    }
}
@media (min-width: 992px) {
    .container-md-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
		width: 100%;
    }
    .row-md-height {
        display:table-row;
    }
    .col-md-height {
        display:table-cell;
        float:none;
    }
}
@media (min-width: 1200px) {
    .container-lg-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
		width: 100%;
    }
    .row-lg-height {
        display:table-row;
    }
    .col-lg-height {
        display:table-cell;
        float:none;
    }
}

/* vertical alignment styles */
.col-top {
    vertical-align:top;
}
.col-middle {
    vertical-align:middle;
}
.col-bottom {
    vertical-align:bottom;
}
