<div class='container-fluid' ng-controller='PlayerCtrl as playerCtrl'>
	<div class='col-xs-3 col-md-2'>
		<player-sidebar player-id='playerId' session='session' />
	</div>
	<div class='col-xs-9 col-md-10'>
		<ul class='nav nav-tabs'>
			<li role='presentation'>
				<a href='#'><span class='glyphicon glyphicon-tasks' /> Tracks</a>
			</li>
		</ul>
		<div class='tab-content' ng-init='playerCtrl.loadTracksStatus(playerId)'>
			<div role='tabpanel' class='tab-pane active' id='tracks'>
				<player-tracks player-url='playerUrl' tracks-status='playerCtrl.tracksStatus' />
			</div>
		</div>
	</div>
</div>
