<div>
	<panel-404 ng-if='missionCtrl.error' />

	<div ng-if='missionCtrl.mission'>
		<!-- Mission header -->
		<div class='col-xs-12'>

			<!-- Mission stars -->
			<h1 class='pull-right'>
				<small>
					<mission-stars mission='missionCtrl.mission' mission-status='missionCtrl.missionStatus' />
				</small>
			</h1>

			<!-- Mission reward -->
			<h1 class='pull-right'>
				<small>{{missionCtrl.mission.reward}} pts</small>
				&nbsp;
			</h1>

			<h1>
				<mission-status mission-status='missionCtrl.missionStatus' />
				&nbsp;
				{{missionCtrl.mission.title}}
			</h1>
		</div>

		<!-- Mission body -->
		<div class='col-xs-12'>
			<div class='card'>
				<div class='card-body'>
					<div ng-bind-html='missionCtrl.mission.desc' />
				</div>
			</div>
			<!-- Mission is locked -->
				<div class='container' ng-if='!missionCtrl.playerId || missionCtrl.missionStatus.status == "locked"'>
					<mission-locked />
				</div>
		</div>
		<mission-submit mission='missionCtrl.mission'
			ng-if='missionCtrl.playerId' />
	</div>
</div>
