<div>
	<h3>{{missionCtrl.mission.title}}</h3>

	<table class='table'>
		<tr>
			<th>Status</th>
			<th>
				<span class='glyphicon glyphicon-lock text-muted' />
				Locked
			</th>
			<th>+ {{missionCtrl.mission.reward}} pts</th>
		</tr>
		<tr ng-repeat='star in missionCtrl.mission.stars.__items'>
			<th ng-init='i = $index + 1' width='15%'>
				<span class='glyphicon text-warning'
					ng-repeat='self in [1, 2, 3]'
					ng-class='{"glyphicon-star-empty": self > i, "glyphicon-star": self <= i}' />
			</th>
			<td width='15%'>+{{star.reward}}pts</td>
			<td>{{star.title}}</td>
		</tr>
	</table>
	<div ng-bind-html="missionCtrl.mission.desc"></div>
</div>
