<div>
	<div class='col-xs-12 col-md-6' ng-init='initCodeMirror()'>
		<div class='card'>
			<form ng-submit='submit()'>
				<textarea id='source' ng-model="source"></textarea>
				<div class='card-footer text-right'>
					<input type='submit' value='Try code' class='btn btn-primary' />
				</div>
			</form>
		</div>
	</div>
	<div class='col-xs-12 col-md-6' ng-if='result'>
		<!-- Mission success -->
		<div class='card' ng-if='result.status == "success"'>
			<div class='card-body bg-dark bg-success text-center'>
				<span/>
				<h1>
					<b>MISSION ACCOMPLISHED</b>
					<br/><br/>
					<span class='glyphicon glyphicon-ok' />
					<br/><br/>
				</h1>
				<p class='lead'>Congratulations, you accomplished this mission.</p>
				<p>
					<a ng-href='/tracks/{{missionSubmitCtrl.mission.track.id}}'
					class='btn btn-success'>Go back to track</a>
				</p>
				<span/>
			</div>
		</div>

		<!-- Compilation error -->
		<div class='card' ng-if='result.compilation_failed'>
			<div class='card-left text-center bg-dark bg-danger'>
				<h4><span class='glyphicon glyphicon-remove' /></h4>
			</div>
			<div class='card-body'>
				<h3 class='text-danger'>Compile time error</h3>
				<pre><code>{{result.compilation_messages}}</code></pre>
			</div>
		</div>

		<!-- Error: loop testcases -->
		<div ng-if='result.results'>
			<div ng-repeat = '(index, testRes) in result.results.__items'>
				<div class='card' ng-if='testRes.error'>
					<div class='card-left text-center bg-dark bg-danger'>
						<h4><span class='glyphicon glyphicon-remove' /></h4>
					</div>
					<div class='card-body'>
						<h3>
							<a data-toggle='collapse' data-target='#testcase_{{index}}' href='#' class='text-danger'>
								Test {{index + 1}}
							</a>
						</h3>
						<div class='collapse in' id='testcase_{{index}}'>
							<p><b>{{testRes.error}}</b></p>
							<b>Input</b>
							<pre><code>{{testRes.testcase.provided_input}}</code></pre>
							<testcase-diff diff-id='testcase_diff_{{index}}' diff-string='{{testRes.diff}}'/>
						</div>
					</div>
				</div>
				<div class='card' ng-if='!testRes.error'>
					<div class='card-left text-center bg-dark bg-success'>
						<h4><span class='glyphicon glyphicon-ok' /></h4>
					</div>
					<div class='card-body'>
						<h3>
							<a data-toggle='collapse' data-target='#testcase_{{index}}' href='#' class='text-success'>
								Test {{index + 1}}
							</a>
						</h3>
						<div class='collapse' id='testcase_{{index}}'>
							<p class='text-success'><b>Congratulations, you passed this test!</b></p>
							<b>Input</b>
							<pre><code>{{testRes.testcase.provided_input}}</code></pre>
							<b>Produced output</b>
							<pre><code>{{testRes.produced_output}}</code></pre>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
