<div>
	<div class='col-xs-12 col-md-6' ng-init='initCodeMirror()'>
		<div class='card'>
			<form ng-submit='submit()'>
				<textarea id='source' ng-model="source"></textarea>
				<div class='card-footer text-right'>
					<input type='submit' value='Try code' class='btn btn-primary' />
				</div>
			</form>
		</div>
	</div>
	<div class='col-xs-12 col-md-6' ng-if='result'>
		<!-- Mission success -->
		<div class='card' ng-if='result.status == "success"'>
			<div class='card-body bg-dark bg-success text-center'>
				<span/>
				<h1>
					<b>MISSION ACCOMPLISHED</b>
					<br/><br/>
					<span class='glyphicon glyphicon-ok' />
					<br/><br/>
				</h1>
				<p class='lead'>Congratulations, you accomplished this mission.</p>
				<p ng-if='result.next_missions && result.next_missions.__items.length > 0'>
					<span ng-repeat='(index, mission) in result.next_missions.__items'>
						<span ng-if='index > 0'>&nbsp;&nbsp;</span>
						<a ui-sref="track.mission({tid: track._id, mid: mission._id})" class='btn btn-success'>
							Next mission: {{mission.title}}
						</a>
					</span>
				</p>
				<p>
					<a ui-sref="track({tid: missionSubmitCtrl.mission.track.id})"
						class='btn btn-success'>Go back to track</a>
				</p>
				<span/>
			</div>
		</div>

		<!-- Mission success: star progress -->
		<div class='card' ng-if='result.star_results.__items.length > 0'>
			<div class='card-left text-center bg-dark bg-warning'>
				<h4><span class='glyphicon glyphicon-star' /></h4>
			</div>
			<div class='card-body'>
				<h3 class='title text-warning'>Star progression</h3>

				<table class='table'>
					<tr ng-repeat='starRes in result.star_results.__items'>
						<th width='25%'>{{starRes.star.title}}</th>
						<td>
							<span ng-if="starRes.is_unlocked"><span class='glyphicon glyphicon-star' /> Unlocked!<br/></span>
							<span ng-if="starRes.is_highscore"><span class='glyphicon glyphicon-asterisk' /> New highscore!<br/></span>
							<span ng-if="starRes.goal">
								Goal {{starRes.goal}}<br/>
								New Score {{starRes.new_score}}<br/>
								<span ng-if="starRes.is_highscore">
									Previous best score: {{starRes.old_score}}
								</span>
								<span ng-if="starRes.old_score != null && !starRes.is_highscore">
									Best score: {{starRes.old_score}}
								</span>

						</td>
						<th width='10%' class='text-muted'>+{{starRes.star.reward}}pts</th>
					</tr>
				</table>
			</div>
		</div>

		<!-- Compilation error -->
		<div class='card' ng-if='result.compilation.is_error'>
			<div class='card-left text-center bg-dark bg-danger'>
				<h4><span class='glyphicon glyphicon-thumbs-down' /></h4>
			</div>
			<div class='card-body'>
				<h3 class='text-danger'>{{result.compilation.title}}</h3>
				<pre><code>{{result.compilation.message}}</code></pre>
			</div>
		</div>

		<!-- Error: loop testcases -->
		<div ng-if='result.results'>
			<div ng-repeat = 'testRes in result.results.__items'>
				<div class='card' ng-if='testRes.error'>
					<div class='card-left text-center bg-dark bg-danger'>
						<h4><span class='glyphicon glyphicon-thumbs-down' /></h4>
					</div>
					<div class='card-body'>
						<h3>
							<a data-toggle='collapse' data-target='#testcase_{{testRes.testcase.number}}' href='#' class='text-danger'>
								Test {{testRes.testcase.number}}
							</a>
						</h3>
						<div class='collapse in' id='testcase_{{testRes.testcase.number}}'>
							<p><b>{{testRes.error}}</b></p>
							<b>Input</b>
							<pre><code>{{testRes.testcase.provided_input}}</code></pre>
							<testcase-diff diff-id='testcase_diff_{{testRes.testcase.number}}' diff-string='{{testRes.diff}}'/>
						</div>
					</div>
				</div>
				<div class='card' ng-if='!testRes.error'>
					<div class='card-left text-center bg-dark bg-success'>
						<h4><span class='glyphicon glyphicon-thumbs-up' /></h4>
					</div>
					<div class='card-body'>
						<h3>
							<a data-toggle='collapse' data-target='#testcase_{{testRes.testcase.number}}' href='#' class='text-success'>
								Test {{testRes.testcase.number}}
							</a>
						</h3>
						<div class='collapse' id='testcase_{{testRes.testcase.number}}'>
							<p class='text-success'><b>Congratulations, you passed this test!</b></p>
							<b>Input</b>
							<pre><code>{{testRes.testcase.provided_input}}</code></pre>
							<b>Produced output</b>
							<pre><code>{{testRes.produced_output}}</code></pre>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
