<div class='container-fluid' ng-controller='PlayerCtrl as playerCtrl' ng-init='playerCtrl.loadPlayer(playerId)'>
	<div class='col-xs-3 col-md-2' ng-init='playerCtrl.loadStats(playerId)'>
		<player-sidebar stats='playerCtrl.stats' />
	</div>
	<div class='col-xs-9 col-md-10' ng-init='playerCtrl.loadMissionStatus(playerId, missionId)'>
		<h3>{{playerCtrl.missionStatus.mission.title}}</h3>

		<table class='table'>
			<tr>
				<th>Status</th>
				<th>
					<span ng-if='playerCtrl.missionStatus.is_locked' class='glyphicon glyphicon-lock text-muted' />
					<span ng-if='playerCtrl.missionStatus.is_open' class='glyphicon glyphicon-remove text-warning' />
					<span ng-if='playerCtrl.missionStatus.is_success' class='glyphicon glyphicon-ok text-success' />
					{{playerCtrl.missionStatus.status}}
				</th>
				<th>+ {{playerCtrl.missionStatus.mission.reward}} pts</th>
			</tr>
			<tr ng-repeat='star in playerCtrl.missionStatus.mission.stars.__items'>
				<th ng-init='i = $index + 1' width='15%'>
					<span class='glyphicon text-warning'
						ng-repeat='self in [1, 2, 3]'
						ng-class='{"glyphicon-star-empty": self > i, "glyphicon-star": self <= i}' />
				</th>
				<td width='15%'>+{{star.reward}}pts</td>
				<td>{{star.title}}</td>
			</tr>
		</table>

		<div ng-bind-html="mission_status.mission.desc"></div>
	</div>
</div>
