<div class='container-fluid' ng-init='playerCtrl.loadNotification()'>
	<div class='col-xs-3 col-md-2'>
		<player-sidebar player='{{player}}' />
	</div>
	<div class='col-xs-9 col-md-10'>
		<h3><span class='glyphicon glyphicon-envelope text-muted' /> New message</h3>
		<p class='text-muted'>
			received {{notification.timestamp * 1000 | date: 'dd, MMM, yyyy HH:MM:ss a'}}
		</p>
		<blockquote>{{notification.message}}</blockquote>

		<a class='btn btn-danger' ng-click='clearNotification()'>Delete</a>
	</div>
</div>
